<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" color="green"> 
Grooming Session </font>
</div >
<style>
body {
  font-family: 'Brush Script MT', cursive;
}
</style>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h2>Day 4 Questions </h2>
    </div>
  </div>

***``Note: Do not use any Method like : max,min,sort,....``***

**Q1.)Element-wise sum**  
Write a Python program to compute element-wise sum of given tuples.

**Input Format**  
You will be taking a values as tuples.

**Output Format**  
You need to print compute element-wise sum of given tuples.

**Sample TestCase 1**
>**Input**  
[(1, 2, 3, 4),(3, 5, 2, 1),(2, 2, 3, 1)]


>**Output**  
(6, 9, 8, 6)

In [1]:
t=tuple([(1, 2, 3, 4),(3, 5, 2, 1),(2, 2, 3, 1)])
r= tuple(map(sum, zip(t[0],t[1],t[2])))
print(r)

(6, 9, 8, 6)

**Q2.)Average**  
Write a Python program to calculate the average value of the numbers in a given tuple of tuples.

**Input Format**  
You will be taking a values as tuples.

**Output Format**  
You need to print compute element-wise average of given tuples.

**Sample TestCase 1**
>**Input**  
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))


>**Output**  
(30.5, 34.25, 27.0, 23.25)

In [98]:
t=((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
r= tuple(map(sum, zip(t[0],t[1],t[2],t[3])))
m=[]
for i in r:
  l=i/len(t[0])
  m.append(l)
print(tuple(m))

(30.5, 34.25, 27.0, 23.25)

**Q3.)Sort Values**  
Write a Python program to find the sort value of the numbers in a given tuple.

**Input Format**  
You will be taking a values as tuples.

**Output Format**  
You need to print sort value of given tuples.

**Sample TestCase 1**
>**Input**  
(10, 10, 10, 12,30, 45, 56,'Python',1, 2, 3, 4)


>**Output**  
(1, 2, 3, 4, 10, 10, 10, 12, 30, 45, 56)

In [83]:
t=(10, 10, 10, 12,30, 45, 56,'Python',1, 2, 3, 4)
n=[]
for i in t:
  if type(i)==int:
    n.append(i)
n1=[]
while n:
  min=n[0]
  for i in n:
    if i < min:
      min=i
  n1.append(min)
  n.remove(min)
print(n1)

[1, 2, 3, 4, 10, 10, 10, 12, 30, 45, 56]

**Q4.)Sort Tuple**  
Given a Tuple List, perform sort on basis of total digits in tuple.

**Input Format**  
You will be taking a values as List.

**Output Format**  
You need to print sort tuple of given List.

**Sample TestCase 1**
>**Input**  
[(3, 4, 6, 723), (1, 2), (134, 234, 34)] 


>**Output**  
[(1, 2), (134, 234, 34), (3, 4, 6, 723)]

In [99]:
t=[(3, 4, 6, 723), (1, 2), (134, 234, 34)] 
t2=[]
for i in range(len(t)):
  t1=sorted(t[i])
  t2.append(t1)
print(t2)

[[3, 4, 6, 723], [1, 2], [34, 134, 234]]

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">If you have any queries please feel free to contact on "Vikash@pentagonspace.in".</p>

</div>