<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" color="green" > 
Assignment Question </font>
</div >

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h3 style="color: blue;">List Questions</h3>
    </div>
  </div>

**Q1.** ISBN-10 identifiers are ten digits long. The first nine characters are digits 0-9. The last digit can be 0-9 or X, to indicate a value of 10.
An ISBN-10 number is valid if the sum of the digits multiplied by their position modulo 11 equals zero.

**For example:**

>ISBN     : 1 1 1 2 2 2 3 3 3  9  
position : 1 2 3 4 5 6 7 8 9 10  
This is a valid ISBN, because:

>`(1*1 + 1*2 + 1*3 + 2*4 + 2*5 + 2*6 + 3*7 + 3*8 + 3*9 + 9*10) % 11 = 0`  

**Examples**  
>1112223339   -->  true  
>111222333    -->  false

**Q2.** Write python Program to find sum of list.  
Example:
>input:
>>x = [2,3,4,5,6,7,8,5,4]  

>output:
>>  44

**Q3.** Write python Program to find index wise sum of two list.  
**Example:**
>input:
>>x = [2,3,4,5,6,7,8,5,4]  
>>y = [5,4,3,3,4,5,6,6,8]


>output:
>> [7, 7, 7, 8, 10, 12, 14, 11, 12]

**Q4.** Write python Program to find sum of all number from list.  
**Example:**
>input:
>>x = [2,3,4,'23','A',5,6,'B',7,'6',8,'9',5,4]  


>output:
>> 82

**Q5** Write Python Program to find maximum,minimum values from list.  
**Example:**
>Input:
>> num = [2,3,4,5,6,76,7,4]

>Output:
>> minimum: 2  
>>maximum: 76

**Q6** Write Python Program to find maximum,minimum values from list.  
**Example:**
>Input:
>> num = [2,3,4,'A',5,6,'B',76,'Py',7,4,45j]

>Output:
>> minimum: 2  
>>maximum: 76

**Q7** Write Python Program to find Sort values from list.  
**Example:**
>Input:
>> num = [2,3,4,'A',5,6,'B',76,'Py',7,4,45j]

>Output:
>> [2, 3, 4, 5, 6, 76, 7, 4]

**Q8.** Write the python program to find duplicate values from list.  
**Example**  
**Input:**  
>num = [3,4,5,6,7,6,54,'Hello',45j,4.3,'Hello','3',7]

**Output:**  
>[3,6,7,'Hello']

In [9]:
m, n = [int(i) for i in input().split()]

# Write an answer using print
# To debug: print("Debug messages...", file=sys.stderr, flush=True)
print(m)
print(n)

2 3
2
3