<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" color="green" > 
Assignment </font>
</div >

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h3 style="color: blue;">Tuple Questions</h3>
    </div>
  </div>

**Q1.)Sort Values**  
Write a Python program to find the sort value of the numbers in a given tuple.

**Input Format**  
You will be taking a values as tuples.

**Output Format**  
You need to print sort value of given tuples.

**Sample TestCase 1**
>**Input**  
(10, 10, 10, 12,30, 45, 56,'Python',1, 2, 3, 4)


>**Output**  
(1, 2, 3, 4, 10, 10, 10, 12, 30, 45, 56)

In [ ]:
# Write code here

**Q2.)Sort Tuple**  
Given a Tuple List, perform sort on basis of total digits in tuple.

**Input Format**  
You will be taking a values as List.

**Output Format**  
You need to print sort tuple of given List.

**Sample TestCase 1**
>**Input**  
[(3, 4, 6, 723), (1, 2), (134, 234, 34)] 


>**Output**  
[(1, 2), (134, 234, 34), (3, 4, 6, 723)]

In [ ]:
# Write code here

**Q3.)maximum values**  
Write python code that find the maximum values from tuple

**Input Format**  
You will be taking a values as tuple.

**Output Format**  
You need to print the maximum values from tuple to the Jupyter cell.

**Sample TestCase 1**
>Input  
data = (52, 53, 54, 55, 56, 57, 58,78, 79, 80,34,45,45)

>Output  
80

In [ ]:
# Write code here

**Q4.)single integer**  
Write a Python program to convert a tuple of multiple integers into a single integer.

**Input Format**  
You will be taking a values as tuple.

**Output Format**  
You need to print the single integer to the Jupyter cell.

**Sample TestCase 1**
>Input  
data = (52, 53, 54, 55, 56, 57)

>Output  
525354555657

In [ ]:
# Write code here

**Q5.YUVI and MAXIMUM**  
YUVI has provided you the score of his last 6 innings and you have to tell him the maximum total of 2 innings.

**Input Format:**  
The only line of input consist of score in last 6 innings.

**Output Format:**  
Print Maximum total of 2 innings


**Sample TestCase 1**  
>**input**  
1 20 13 45 12

>**output**  
65

In [ ]:
# write code here