<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" color="green" > 
Assignment Question </font>
</div >

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h3 style="color: blue;">Functions Questions</h3>
    </div>
  </div>

**Q1.**Write a function to a company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.**

**Sample TestCase:**

**Input:**
>Salary = 102893  
>year = 6

**Output:**
>108037.65

In [1]:
def Bonus(salary,year):
    if year>5:
        k = salary *0.05
        total_bonus = salary + k
        print(total_bonus)
    else:
        print('No Bonus: ',salary)
Bonus(102893,6)

108037.65

**Q2.** Write a function to check whether an alphabet is a vowel or consonant.**

**Sample TestCase:**

**Input:**  
>k

**Output:**  
>consonant

In [3]:
def check_alphabet(x):
    vowel = 'aeiou'
    if x in vowel:
        print('Vowel')
    else:
        print('Consonant')
check_alphabet('k')

Consonant

**Q3.** Write a function to print that slice of string.

**Sample TestCase:**

**Input:**  
>x = Hello Pentagon  
>n1 = 1  
>n2 = 4

**Output:**  
>ello

In [5]:
def slice(values,index1,index2):
    print(values[index1:index2+1])
slice('Hello pentagon',1,4)

ello

**Q4.** ISBN-10 identifiers are ten digits long. The first nine characters are digits 0-9. The last digit can be 0-9 or X, to indicate a value of 10.
An ISBN-10 number is valid if the sum of the digits multiplied by their position modulo 11 equals zero.

**For example:**

>ISBN     : 1 1 1 2 2 2 3 3 3  9  
position : 1 2 3 4 5 6 7 8 9 10  
This is a valid ISBN, because:

>`(1*1 + 1*2 + 1*3 + 2*4 + 2*5 + 2*6 + 3*7 + 3*8 + 3*9 + 9*10) % 11 = 0`  

**Examples**  
>1112223339   -->  true  
>111222333    -->  false

In [13]:
def ISBN_identifiers(num):
    total = 0
    k = ' '.join(num)
    kk = [int(i) for i in k.split()]
    for x,y in zip(range(1,len(kk)+1),kk):
        total = total + (int(x)*int(y))
    if total%11==0:
        print(True)
    else:
        print(False)
ISBN_identifiers('1 1 1 2 2 2 3 3 3 9')

True

**Q5** Write a function to find maximum,minimum values from list.  
**Example:**
>Input:
>> num = [2,3,4,'A',5,6,'B',76,'Py',7,4,45j]

>Output:
>> minimum: 2  
>>maximum: 76

In [15]:
def find_max_min(x):
    num = []
    for i in x:
        if type(i)==int:
            num.append(i)
    maximum = num[0]
    for k in num:
        if k>maximum:
            maximum = k
    print('maximum',maximum)
    
    minimum = num[0]
    for x in num:
        if x<minimum:
            minimum = x
    print('minimum',minimum)
find_max_min([2,3,4,'A',5,6,'B',76,'Py',7,4,45j])

maximum 76
minimum 2

**Q6.** Write a function to find duplicate values from list.  
**Example**  
**Input:**  
>num = [3,4,5,6,7,6,54,'Hello',45j,4.3,'Hello','3',7]

**Output:**  
>[3,6,7,'Hello']

In [35]:
def find_duplicate(x):
    num = []
    duplicate = []
    for i in x:
        if type(i)==int or type(i)==float or type(i)==complex:
            if i not in num:
                num.append(i)
            else:
                duplicate.append(i)
        elif type(i)==str:
            if i.isdigit() and int(i) not in num:
                num.append(i)
            elif i.isdigit()==False and i not in num:
                num.append(i)
            else:
                duplicate.append(i)
        else:
            duplicate.append(i)
    print(duplicate)
find_duplicate([3,4,5,6,7,6,54,'Hello',45j,4.3,'Hello','3',7])

[6, 'Hello', '3', 7]

**Q7.** Write a function to find sum of list.  
Example:
>input:
>>x = [2,3,4,5,6,7,8,5,4]  

>output:
>>  44

In [25]:
def get_sum(x):
    total_sum = 0
    for i in x:
        total_sum += i
    print(total_sum)

get_sum([2,3,4,5,6,7,8,5,4])

44

**Q8. Write a function to reverse strating 5 index from string without using slicing.**

**Sample TestCase:**  
**Input:**   
>Pentagon Space  

**Output:**    
>gatnePon Space

In [29]:
def get_reverse(x):
    values = ''
    for i in range(len(x)):
        if i<6:
            values = x[i] + values
        else:
            values = values + x[i]
    print(values)

get_reverse('Pentagon Space')

gatnePon Space

**Q9.** Write a function which calculates the average of the numbers in a given list.

**Sample TestCase:**  
**Input:**   
>[3,4,5,6,6,7,7,8,45,34]  

**Output:**    
>12.5

In [30]:
def get_avg(x):
    total = 0
    for i in x:
        total = total + i
    avg = total/len(x)
    print(avg)

get_avg([3,4,5,6,6,7,7,8,45,34])

12.5

**Q10.** Write a function to print the min alphabetical character from the string.

**Sample TestCase:**

**Input:**
>HELLO PENTAGON SPACE

**Output:**
>A

In [34]:
def find_min(x):
    values = x.replace(' ','')
    minimum = values[0]
    for i in values:
        if i<minimum:
            minimum = i
    print(minimum)

find_min('HELLO PENTAGON SPACE')

A

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">If you have any queries please feel free to contact on "Vikash@pentagonspace.in".</p>
</div>